
html
{
}

body
{
    background-image: url(images/weblogo.gif);
    background-position: 15px 15px;
    background-color: white;
    background-repeat: no-repeat;
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 220px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 90%;
}

h1
{
    font-family: /*Arial Black,*/ Arial, sans-serif;
    font-weight: bold;
    font-size: 110%;
}

h2
{
    font-family: /*Arial Black,*/ Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
}

#side
{
    font-size: 80%;
    position: absolute;
    width: 120px;
    top: 100px;
    right: 35px;
}

.lsidecell
{
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 7px;
}

.lsidecell a
{
    font-family: /*Arial Black,*/ Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
    color: Black;
    text-decoration: none;
}

.current
{
    background-color: #9FA0BE;
    border: 1px solid #838391;
}

.pagelink
{
    background-color: #CCCCE6;
    border: 1px solid #838391;
}

.subscribe
{
    font-size: 90%;
    border: 1px solid #838391;
    background-color: #DCDCDC;
    margin-top: 30px;
    color: black;
    padding: 5px;
    margin-bottom: 7px;
}

.subscribe form
{
    margin-top: 4px;
}

.subscribe input
{
    /* font-size: 90%; */
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
    width: 100px;
}

.subscribe form
{
    margin-bottom: 0px;
}
