<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Bible Desktop</string>
	<key>CFBundleIdentifier</key>
	<string>org.crosswire.jsword</string>
	<key>CFBundleVersion</key>
	<string>@release.version@</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>Bible Desktop v@release.version@ (c) 2006</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>BibleDesktop.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>VMOptions</key>
		<string>-Xmx512Mm</string>
		<key>MainClass</key>
		<string>org.crosswire.bibledesktop.desktop.Desktop</string>
		<key>JVMVersion</key>
		<string>1.4+</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/bibledesktop-@release.version@.jar</string>
			<string>$JAVAROOT/jsword-@release.version@.jar</string>
			<string>$JAVAROOT/jsword-common-swing-@release.version@.jar</string>
			<string>$JAVAROOT/jsword-common-aqua-1.0.6.jar</string>
			<string>$JAVAROOT/lucene-core-3.0.3.jar</string>
			<string>$JAVAROOT/lucene-snowball-3.0.3.jar</string>
            <string>$JAVAROOT/lucene-analyzers-3.0.3.jar</string>
            <string>$JAVAROOT/lucene-smartcn-3.0.3.jar</string>
			<string>$JAVAROOT/jdom-1.1.1.jar</string>
			<string>$JAVAROOT/commons-codec-1.4.jar</string>
			<string>$JAVAROOT/httpcore-4.1.jar</string>
			<string>$JAVAROOT/httpclient-4.1-beta1.jar</string>
			<string>$JAVAROOT/commons-logging-1.1.1.jar</string>
			<string>$JAVAROOT/commons-net-2.2.jar</string>
			<string>$JAVAROOT/javatar-2.5.jar</string>
			<string>$JAVAROOT/jlfgr-1_0.jar</string>
			</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
